<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
    <!-- =============Hero Area============= -->
    <section class="hero-area bg_img" data-background="./assets/images/page-header.jpg">
        <div class="container">
            <h1 class="title m-0">bulk SMS services</h1>
        </div>
    </section>
    <div class="breadcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    Services
                </li>
            </ul>
        </div>
    </div>
    <!-- =============Hero Area============= -->
 <!--=================Our Service================= -->
 <section class="service-section padding-bottom padding-top">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-love"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">Mask SMS</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-sms"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">not Masking SMS</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-mic"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">voice message</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-route"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">location based SMS</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-megaphone"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">promo SMS</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-paper-plane"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title"><a href="#0">Email Service</a></h4>
                        <p>Temporibus magnis. Aliquam netus phasellus wisi utacper fusce wold of messgeuing </p>
                        <a href="#0">Find Out More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Our Service================= -->

<%- include('../includes/price-plan.ejs') %>
<%- include('../includes/our-offer.ejs') %>
<%- include('../partials/footer.ejs') %>
